body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.configuration-warning {
  padding-bottom: 1rem;
  font-style: italic;
}

#root > div > div.accordion > div > h2 > button {
  font-weight: bold;
}

#root > div > div.accordion > div > div > div > div > h2 > button {
  font-weight: bold;
}